body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.view {
  min-height: 90vh;
  max-width: 100%;
  margin: 20px;
  display: flex;
  align-items: flex-start;
}
.vl {
  border-left: 1px solid black;
  height: 60vh;
  position: relative;
  width: 100px;
  margin-left: 50px;
}
.onemore {
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.onemore .part2 {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.space {
  margin: 20px;
}
